general {
    colors = true
}
order += "cpu_usage"
order += "memory"
order += "tztime local"
order += "network eth0"
cpu_usage {
    format = "CPU: %usage"
}
memory {
    format = "Mem: %used / %total"
}
network eth0 {
    format_up = " %ip | ↑ %tx_rate ↓ %rx_rate"
    format_down = " down"
}
tztime local {
    format = "%Y-%m-%d %H:%M:%S"
}

